%table{class: show_view.table_class}
  - if show_view.caption
    %caption= show_view.caption

  %tbody
    - show_view.attributes.each do |row|
      %tr
        - if row[:label].present?
          %th= row[:label]
          - attrs = {}
        - else
          - attrs = {colspan: 2}

        %td{*attrs}
          - if row[:value].respond_to? :call
            = row[:value].call
          - else
            = row[:value]
